<state-mapper [observable]="data$">
  <ng-container *stateMapperLoadingState>
    <pagination-table-state />
  </ng-container>
  <ng-container *stateMapperLoadedState="let data=data">
    <pagination-table-content
      [pagination]="data"
      [paginationOptions]="options()!"
      [displayColumns]="displayColumns()"
      [actions]="actions()"
      [tableActions]="tableActions()"
      [getItemId]="getItemId()"
      [options]="tableOptions(data)"
      (next)="nextPage()"
      (previous)="previousPage()"
    />
  </ng-container>
</state-mapper>
